<div class='container'>
  <h3>Angular 2 Forms</h3>
  <form>
    <div class='form-group'>
      <datepicker class='form-inline' name='startDate' [(ngModel)]='startDate' [showWeeks]='false' [minDate]='minDate' [maxDate]='maxDate'></datepicker>
      <pre class="alert alert-info">Start Date: {{startDate}}</pre>
    </div>

    <div class='form-group'>
      <timepicker class='form-inline' name='startTime' [(ngModel)]="startDate" [minuteStep]='15' [arrowkeys]='false'></timepicker>
      <pre class="alert alert-info">Start Time: {{startDate | date:'shortTime'}}</pre>
    </div>

    <div class='form-group'>
      <pre class='card card-block card-header'>Toogle Switch: {{onOffSwitch}}</pre>
      <button type='button' class="btn" [class.btn-primary]="onOffSwitch === 'On'" btnCheckbox btnCheckboxTrue='On' btnCheckboxFalse='Off'
        name='onOffSwitch' [(ngModel)]='onOffSwitch'>Single Toggle</button>
    </div>

    <div class='form-group'>
      <pre class="card card-block card-header">Tax type: {{taxType }}</pre>
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="taxType" btnRadio="W2" name='taxType'>Type: W2</label>
        <label class="btn btn-primary" [(ngModel)]="taxType" btnRadio="1099" name='taxType'>Type: 1099</label>
        <label class="btn btn-primary" [(ngModel)]="taxType" btnRadio="Other" name='taxType'>Type: Other</label>
      </div>
    </div>

  </form>
</div>
