<div class="container" *ngIf='languages.length > 0 && !hasError'>
  <h3>Employee Form</h3>

  <form #form="ngForm" novalidate (submit)='submitForm(form)'>
    <div class="form-group form-inline" [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" type="text" class="form-control" required placeholder="First Name" name="firstName" [(ngModel)]="emp.firstName">
      <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">
        First Name is required.
      </div>
    </div>

    <div class="form-group form-inline" [class.has-error]="lastName.invalid && lastName.touched">
      <label class="control-label">Last Name</label>
      <input #lastName="ngModel" type="text" class="form-control" required placeholder="Last Name" name="lastName" [(ngModel)]="emp.lastName">
      <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">
        Last Name is required.
      </div>
    </div>

    <div class="checkbox form-group form-inline">
      <label>
        <input type="checkbox" name="fte" [(ngModel)]="emp.isFullTime"> Full Time Employee
      </label>
    </div>

    <div class="form-group">
      <label>Payment Type</label>
      <div>
        <input type="radio" name="paymentType" value="w2" checked [(ngModel)]="emp.paymentType">W2
      </div>
      <div>
        <input type="radio" name="paymentType" ngModel value="1099" [(ngModel)]="emp.paymentType">1099
      </div>
    </div>

    <div class="form-group" [class.has-error]='hasPrimaryLangErr'>
      <label class="control-label">Primary Language</label>
      <select class="form-control" #primaryLang name="primaryLang" [(ngModel)]="emp.primaryLang" (blur)='validatePrimaryLang(primaryLang.value)'
        (change)='validatePrimaryLang(primaryLang.value)'>

        <option value='default'>Select a Language...</option>
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]='form.invalid'>
      Ok
    </button>
  </form>
</div>
<h3 *ngIf='languages.length == 0'>Loading...</h3>
<h3 class='container' *ngIf='hasError'>
  Form could not be submitted.
</h3>
